#create-party-page {
  position: relative;

  #build-party-header {
    display: flex;
    justify-content: space-between;
  }

  .modal-dialog {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);

    .add-player-form {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 200px;
    }
  }
}