@import 'vars';

#monster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
  align-content: start;
  grid-row-gap: 1rem;
  overflow-y: scroll;
}