@import 'vars';

#create-page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
  #title {
    background: none;
    line-height: 3rem;
    padding: 1rem;
    font-size: 2rem;
    color: $primary-text;
    border: none;
  }

  #monster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    grid-auto-rows: 10rem;
    justify-content: space-around;
    align-content: start;
    grid-row-gap: 1rem;
    overflow-y: auto;
  }
  
  #bottom-sheet {
    margin-top: auto;
    text-align: left;
    list-style: none;
    padding: 1rem;

    li {
      display: flex;
      justify-content: space-between;
    }

    li.hline {
      height: 0.2rem;
      width: 100%;
      background-color: white;
    }
  }
}