@import './vars';

#encounters-page {
  padding: 1rem;

  .encounter-card {
    text-align: left;
    padding: 2rem;
    background-color: $primary-color;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}