@import 'vars';

.monster-selection-tile {
  display: grid;
  grid-template: 
  "name name name"
  "minus count plus";
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 0.2rem;

  &.selected {
    background-color: darken($primary-color, 30);
  }

  .monster-name {
    grid-area: name;
    font-size: 1.2rem;
    flex-wrap: wrap;
  }

  .remove-btn {
    grid-area: minus;
  }

  .add-btn {
    grid-area: plus;
  }

  .count {
    grid-area: count;
    font-size: 2rem;
  }
}
