@import "vars";

.navbar {
  grid-area: top-center;
  height: $navbar-height;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-button {
    padding: 0.5rem;
  }
}

