@import "vars";

#player-selection-page {

  .party-picker {
    li {
      background-color: $secondary-color;
      cursor: pointer;
      border-radius: $border-radius;
      padding: 1rem;
      margin: 0.5rem;
    }
  }

  .player-delete{
      float: right;
      margin-right: 0.7rem;
      cursor: pointer;
  }
  .player-card {
    height: 80px;
    width: 150px;
    text-align: center;
    margin: 1rem auto 1rem auto;
    background: $primary-color;
    display: block;
    padding-top: 0.5rem;

    ul {
      margin: 0 0 1rem 0;
    }
  }

  button {
    align-self: center;
  }

  #party-player-init{
    width: 40px;
    height: 30px;
    text-align: center;
  }

  .enter-inits {
      button {
            margin-top: 10px;
      }
  }
}
