@import './vars';

.tab-bar {
  grid-area: tab-bar;
  background-color: $primary-color;
  z-index: 1;

  .tab-titles {
    display: flex;
    width: 100%;
    height: $navbar-height;
    align-items: center;

    .left-tab-title, .right-tab-title {
      display: inline-block;
      cursor: pointer;
      flex: 1;
    }
  }

  .left-tab-content, .right-tab-content {
    display: none;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 1rem;

    &.active {
      display: block;
    }
  }
}