$primary-color: hsl(100, 5%, 50%);
$secondary-color: lighten($primary-color, 10);
$primary-text: white;
$secondary-text: black;
$global-backdrop: hsl(211, 11%, 10%);

// NAVBAR VARIABLES
$navbar-height: 3rem;

// Setting up Grid
$grid-template-areas:
'top-left top-center top-right'
'main-left main-center main-right'
'bottom-left bottom-center bottom-right';
$grid-template-columns: auto minmax(720px, 66.66%) auto;
$grid-template-rows: $navbar-height auto $navbar-height;

$border-radius: 0.2rem;

// Font
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Open+Sans');

$normal: 1rem;
$taller: 1.4rem;
$tallest: 2rem;
$huge: 2.4rem;